*~
build/
scratch/
_CPack_Packages/
/libraries/
CMakeFiles/
CMakeCache.txt
.o
benchmarks/
.kdev/
*.kdev4
website/
utilities/
samples/

/src/openalpr/support/src.build/
/src/openalpr/support/Makefile
/src/openalpr/support/Debug/
/src/openalpr/support/cmake_install.cmake
/src/openalpr/src.build/
/src/openalpr/simpleini/src.build/
/src/openalpr/simpleini/Makefile
/src/openalpr/simpleini/Debug/
/src/openalpr/simpleini/cmake_install.cmake
/src/openalpr/Makefile
/src/openalpr/CMakeScripts/
/src/openalpr/cmake_install.cmake
/src/misc_utilities/src.build/
/src/misc_utilities/Makefile
/src/misc_utilities/cmake_install.cmake
/src/Makefile
